In [8]:
import sys 
import os 

project_root=os.path.abspath(os.path.join(os.getcwd(),".."))
sys.path.append(os.path.join(project_root,"src"))

In [9]:

from data_loader import fetch_stock_data
from preprocessing import preprocessing_data
from preprocessing import preprocessing_data
from hmm_model import train_hmm

In [10]:
df=fetch_stock_data()
df.head()

[*********************100%***********************]  1 of 1 completed

        Date        Close         High          Low         Open      Volume
0 2010-01-04  1132.989990  1133.869995  1116.560059  1116.560059  3991400000
1 2010-01-05  1136.520020  1136.630005  1129.660034  1132.660034  2491020000
2 2010-01-06  1137.140015  1139.189941  1133.949951  1135.709961  4972660000
3 2010-01-07  1141.689941  1142.459961  1131.319946  1136.270020  5270680000
4 2010-01-08  1144.979980  1145.390015  1136.219971  1140.520020  4389590000

In [11]:
print(len(df["Date"]))

3774

In [12]:
df_log_returns=preprocessing_data(df)
print(df_log_returns.shape)

(3773, 1)

In [23]:
hmm_model,hmm_hidden_states=train_hmm(df)
len(hmm_hidden_states)

3768

In [20]:
df_log_returns.tail()

             0
3768  0.968644
3769 -0.077363
3770 -1.061240
3771 -1.028391
3772 -0.434507

In [18]:
df["Date"].shape

(3772,)